.sidebarOption{
    color : grey;
    height: 45px;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sidebarOption:hover{
    color: white;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption > p {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 13.5px;
}


  